<!DOCTYPE html>
<html>
<head>
<title>Zeedas | The best Way  to create your app and manage your projects online</title>

	<link rel="icon" type="image/png" href="">
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="charset=utf-8" />
	<meta name="author" content="Zeedas" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="A community focused development for taking care of projects">
	<meta name="keywords" content="Zeedas, programming, software, code, tech, computer stuff, games, projeccts, html, css, javascript, websites, website development, web development, design, ui, ux" />
	<meta property="og:locale" content="en-US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Zeedas" />
	<meta property="og:description" content="A community focused on code and development" />
	<meta property="og:url" content="http://zeedas.com" />
	<meta property="og:site-name" content="wonderful" />
	<meta property="article:publisher" content="Natterbase" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="wonderful" />
	<meta name="twitter:site" content="@w_adenekan" />
	<meta name="twitter:domain" content="" />


	<!-- css frame works -->
	<link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
	<link rel="stylesheet" href="assets/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/animate.css">
</head>
<body>
	<!-- <+==============================================================> -->
	<section class="bgs-login">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 ">
					<div class="well login-well">
						<div class="log-img">
							<img src="assets/img/zeedas-png.png" alt="" class="img-responsive">
						</div>
						<div class="form-group">
							<label for="">Email</label>
							<input type="text" class="form-control" placeholder="Your Email Here">
						</div>
						<div class="form-group">
							<label for="">Password</label>
							<input type="Password" class="form-control" placeholder="Your Email Here">
						</div>
						<a href="#/fourth"></a><p class="text-center"><button  class="btn btn-primary">Login</button></p></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>