<div>
  	<!-- header of the projects begins here -->
  	<header>  
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="container-fluid">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#"><img src="assets/img/zeedas-png.png" alt="" class="img-responsive"><b>ZEEDAS</b></a>
			  </div>
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			   
			    <div class="col-sm-5 col-md-5">
			        <form class="navbar-form" role="search">
			       
			            <input type="text" class="form-control zeedas-search" placeholder="Search" name="search_query">
			            <!-- <div class="input-group-btn">
			                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			            </div> -->
			        </form>
			    </div>
			    <ul class="nav navbar-nav navbar-right">
			     	<li>
			     		<a href="#" class="smoothScrol read-article" id="read-article">

					      <i class="icon ion-ios-email-outline step-size18"></i>
		                <span class="label timeline-span">10</span></a>
		           	</li>
		           	<li>
			     		<a href="#" class="smoothScrol read-article" id="read-article"><i class="icon ion-ios-bell-outline step-size18"></i>
		                <span class="label label-warning-icon timeline-span">12</span></a>
		           	</li>
			      	<li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/headshot-4.jpg" alt="" class="img-responsive"></a>
				        <ul class="dropdown-menu">
				          <li><a href="#">Profile</a></li>
				          <li><a href="#">Edit Profile</a></li>
				          <li><a href="#">Notifications</a></li>
				          <li class="divider"></li>
				          <li><a href="#">Settings</a></li>
				        </ul>
				    </li>
			    </ul>
			  </div><!-- /.navbar-collapse -->
			</div>
		</nav>
  	</header>
  <!-- end header -->


  <!-- section starts here -->
  	<section class="marg-f-fixed">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="col-md-2 ph-0">
  					<div class="well left-well">
  						<div class="side-nav-navbar">
  							<div class="well left-nav">
  								<div class="row">
	  								<div class="col-md-3">
	  									<a href="dashboard.html"><img src="assets/img/icon-dashboard-black.svg" alt="" class="img-responsive"></a>
	  								</div>
	  								<div class="col-md-9">
	  								
  									<a href="dashboard.html"><h4>DASHBOARD</h4></a>
  									</div>
  								</div>
  							</div>
							<div class="well left-nav">
  								<div class="row">
	  								<div class="col-md-3">
	  									<i class="icon ion-social-buffer"></i>
	  								</div>
	  								<div class="col-md-9">
	  									<h4>PROJECTS</h4>
	  								</div>
  								</div>
  							</div>
  							<div class="well left-nav">
  								<div class="row">
	  								<div class="col-md-3">
	  									<i class="icon ion-ios-bell-outline "></i>
	  								</div>
	  								<div class="col-md-9">
	  									<h4>NOTIFICATIONS</h4>
	  								</div>
  								</div>
  							</div>
  							<div class="well left-nav active">
  								<div class="row">
	  								<div class="col-md-3">
	  									<a href="profile.html"><i class="icon ion-ios-person-outline "></i></a>
	  								</div>
	  								<div class="col-md-9">
	  									<a href="profile.html"><h4>PROFILE</h4></a>
	  								</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="col-md-10 ph-0">
  					<div class="well right-well">
  						<ul class="breadcrumb ver-bread">
						  <li><a href="#">Home</a></li>
						  <li><b>Profile</b></li>
						</ul>
						<div class="nav-wrap ver-wrap">
				  			<ul class="nav nav-pills ver-pill">
							    <li class="active"><img src="assets/img/icon-overview-black.svg" alt="" class="img-responsive"><a data-toggle="pill" href="#home">PROFILE</a></li>
							    <li><img src="assets/img/icon-module-blue.svg" alt="" class="img-responsive"><a data-toggle="pill" href="#menu1">WORK REVIEW</a></li>
							    <li><img src="assets/img/folder.svg" alt="" class="img-responsive"><a data-toggle="pill" href="#menu2">MANAGE ACCOUNT</a></li>
							    <li><img src="assets/img/icon-activity-black.svg" alt="" class="img-responsive"><a data-toggle="pill" href="#menu3">WALLET</a></li>
						 	 </ul>
			  			</div>
			  			<div class="tab-content">
			  				<div class="col-md-1"></div>
				  		<div class="col-md-3">
					      	<div class="well profile-well">
					      		<h3 class="text-center f-weight-7">Profile</h3>
					      		<div class="output-image">
					      			<img src="assets/img/1.jpeg" alt="" class="img-responsive picture_src" id="picture_preview">
					      		</div>
					      		<div class="picture">
					      			<i class="icon ion-ios-camera-outline step-size18"></i>
									<input type="file" class="img_container" id="upload" name="file">
					      		</div>
					      		<h3 class="text-center f-weight-6">Jane Doe</h3>
					      		<hr>
					      		<p class="text-center email">office@snapcast.com</p>
					      		<p class="text-center">0808120121</p>
					      	</div>
					      	<div class="well profile-well">	
					      		
								<div class="row">
									
					      			<div class="col-md-4">	
										
										<label class="switch">
	  										<input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
										
					      			</div>
									<div class="col-md-8">	
										<p class="text-right available"><button class="btn btn-default">AVAILABLE</button></p>
									</div>
								</div>

					      	</div>
					    </div>
					    <div id="home" class="tab-pane fade in active animated fadeInUp">
					      
					      	<div class="col-md-7">
					      		<div class="well personal-well opned" data-toggle="collapse" data-target="#personal-details">
					      			<p class="person f-weight-6">Personal Details</p><i class="icon ion-ios-arrow-right step-size18 float-right" id="icon-change"></i>
					      		</div>
					      		<div class="personal-details well collapse" id="personal-details">
					      			<div class="row">
						      			<div class="col-md-6">
						      				<label for="">FIRST NAME</label>
						      				<input type="text" class="form-control" placeholder="Jane">
						      			</div>
						      			<div class="col-md-6">
						      				<label for="">LAST NAME</label>
						      				<input type="text" class="form-control" placeholder="Doe">
						      			</div>
						      		</div>
						      		<label for="">E-MAIL</label>
						      		<input type="text" class="form-control" placeholder="Your e-mail@gmail.com">
						      		<label for="">PHONE NUMBER</label>
						      		<input type="text" class="form-control" placeholder="08085674323">
						      		<label for="">PROFESSIONAL TITLE</label>
						      		<input type="text" class="form-control" placeholder="Full-Stack Engineer">
						      		<p class="text-right"><button class="btn btn-default">Save</button></p>
					      		</div>
					      		<div class="well personal-well opned" data-toggle="collapse" data-target="#skill-set">
					      			<p class="person f-weight-6">Skillset</p><i class="icon ion-ios-arrow-right step-size18 float-right" id="icon-change"></i>
					      		</div>
					      		<div class="skill-set well collapse" id="skill-set">
					      			<div class="row">
						      			<div class="col-md-5">
						      				<label for="">SKILL SET</label>
						      				<select type="text" class="form-control">
						      					<option value="none">Choose Your Skill</option>
						      					<option value="">ReactJs</option>
						      					<option value="">VueJs</option>
						      					<option value="">EmberJs</option>
						      					<option value="">NodeJs</option>
						      					<option value="">KnockoutJs</option>
						      					<option value="">Html</option>
						      					<option value="">Css</option>
						      					<option value="">Sass</option>
						      					<option value="">Less</option>
						      					<option value="">Add my skillset</option>
						      				</select>
						      			</div>
						      			<div class="col-md-4">
						      				<label for="">PROFICIENCY</label>
						      				<select type="text" class="form-control">
						      					<option value="">1</option>
						      					<option value="">2</option>
						      					<option value="">3</option>
						      					<option value="">4</option>
						      					<option value="">5</option>
						      					<option value="">6</option>
						      					<option value="">7</option>
						      					<option value="">8</option>
						      					<option value="">9</option>
						      					<option value="">Add my Proficiency</option>
						      				</select>
						      			</div>
										<div class="col-md-3 ">
											<br>
						      				<button class="btn btn-default">Add</button>
						      				
						      			</div>
						      		</div>
						      		<div class="output-table">
						      			<table class="table table-hover ">
							      			<thead>
							      				<tr>
							      					<th class="text-center">Skill</th>
							      					<th class="text-center">Proficiency</th>
							      					<th class="text-center">Option</th>
							      				</tr>
							      			</thead>
							      			<tbody>
							      				<tr>
							      					<td class="text-center">Node Js</td>
							      					<td class="text-center">1</td>
							      					<td class="text-center option"><i class="fa fa-edit"></i><i class="fa fa-close"></i></td>
							      				</tr>
							      				<tr>
							      					<td class="text-center">Angular Js</td>
							      					<td class="text-center">1</td>
							      					<td class="text-center option"><i class="fa fa-edit"></i><i class="fa fa-close"></i></td>
							      				</tr>
							      				<tr>
							      					<td class="text-center">React Js</td>
							      					<td class="text-center">3</td>
							      					<td class="text-center option"><i class="fa fa-edit"></i><i class="fa fa-close"></i></td>
							      				</tr>
							      				<tr>
							      					<td class="text-center">Ember Js</td>
							      					<td class="text-center">3</td>
							      					<td class="text-center option"><i class="fa fa-edit"></i><i class="fa fa-close"></i></td>
							      				</tr>
							      			</tbody>
							      		</table>
						      		</div>
					      		</div>
					      	</div>
					      	<div class="col-md-1"></div>
					    </div>
					    <div id="menu1" class="tab-pane fade animated fadeInUp">
					      	<div class="col-md-7">	
								<div class="well personal-well opned" data-toggle="collapse" data-target="#work-profile">
				      				<p class="person f-weight-6">Work Profile</p><i class="icon ion-ios-arrow-right step-size18 float-right" id="icon-change"></i>
				      			</div>
				      			<div class="well work-profile collapse" id="work-profile">	
									<table class="table table-hover">
										<thead>
											<tr>
												
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Projects</td>
												<td>1</td>
											</tr>
											<tr>
												<td>Avarage Ratings</td>
												<td><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i></td>
											</tr>
											<tr>
												<td>Reviews</td>
												<td>2</td>
											</tr>
										</tbody>
									</table><br>	
									<h5><b>Client Review</b></h5>
									<div class="well work_testimonial_blue">	
										<p>	Working with Michael was a great experience. He’s apt and detailed. We will love to work with him again.</p>

										<p><b>- Brian (Snapcast)</b></p>
									</div>
									<div class="well work_testimonial_white">	
										<p>Working with Michael was a great experience. He’s apt and detailed. We will love to work with him again.</p>

										<p><b>- Daniel.</b></p>
									</div>
				      			</div>
				      		</div>
					      	<div class="col-md-1"></div>
					    </div>
					    <div id="menu2" class="tab-pane fade animated fadeInUp">
					      		<div class="col-md-7">
						      		<div class="well personal-well opned" data-toggle="collapse" data-target="#personal-password">
						      			<p class="person f-weight-6">Manage Password</p><i class="icon ion-ios-arrow-right step-size18 float-right" id="icon-change"></i>
						      		</div>
						      		<div class="personal-password well collapse" id="personal-password">
							      			
							      			<label for="">OLD PASSWORD</label>
							      			<input type="text" class="form-control">
							      			<label for="">NEW PASSWORD</label>
							      			<input type="text" class="form-control">
								      		
								      		<p class="text-right"><button class="btn btn-default">Save</button></p>									      		
						      		</div>
						      		<div class="well personal-well opned" data-toggle="collapse" data-target="#deactivate-acc">
						      			<p class="person f-weight-6">Deactivat Account</p><i class="icon ion-ios-arrow-right step-size18 float-right" id="icon-change"></i>
						      		</div>
						      		<div class="deactivate-acc well collapse" id="deactivate-acc">	
										<p class="col-blue">You are about to deactivate your account. This action once taken cannot be reversed.</p>
											<hr>	
											<label for="">ORGANISATION NAME</label>
								      		<input type="text" class="form-control" >
								      		<label for="">PASSWORD</label>
								      		<input type="text" class="form-control">
								      		<button class="btn btn-danger btn-block">DEACTIVATE</button>
						      		</div>
						      	</div>
						      	<div class="col-md-1"></div>
						</div>
					    <div id="menu3" class="tab-pane fade animated fadeInUp">
					      <div class="col-md-7">
					      		
					      		<div class="well personal-well">
					      			<p class="person f-weight-6">Wallet Transaction</p><i class="icon ion-ios-arrow-right step-size18 float-right"></i>
					      		</div>
						      	<div class="well wallet">
						      		<div class="row">
							      		<div class="col-md-6">
							      			<!-- <h3><b>&#8358;</b></h3> -->
							      			<div class="well earns">
							      				<div class="row">
								      				<div class="col-md-5">
								      					<p class="naiar-divider"><b class="ion-social-usd float-left"></b></p>
								      				</div>
								      				<div class="col-md-7">
									      				<div class="text-right earns-text">
									      					
										      				<h4 class="f-weight-6">2,5000,0000</h4>
										      				<p class="f-weight-6">Earnings</p>
									      				</div>
								      				</div>
							      				</div>
							      			</div>

							      		</div>
							      		<div class="col-md-6">
							      			<div class="well earns">
							      				<div class="row">
								      				<div class="col-md-5">
								      					<p class="naiar-divider"><i class="icon ion-ios-albums float-left-second"></i></p>
								      				</div>
								      				<div class="col-md-1">	</div>
								      				<div class="col-md-6">
									      				<div class="text-right earns-text">
									      					
										      				<h4 class="f-weight-6">50000</h4>
										      				<p class="f-weight-6">Payouts</p>
									      				</div>
								      				</div>
							      				</div>
							      			</div>
							      		</div>
							      	</div>
							      		<div class="well balance ">	
								      		<div class="row">	
								      			<div class="col-md-6">	
													<h4 class="text-left f-weight-6"><b class="txt-small">Balance</b> 2,000,000</h4>
								      			</div>
												<div class="col-md-6">	
													<p class="text-right req_pay_out"><button class="btn btn-default">REQUEST PAYOUT</button></p>
												</div>
											</div>
							      		</div>
							      		<h4 class="f-weight-7">Payout History</h4><br>	
								      		<table class="table table-hover ">
								      			<thead>
								      				<tr>
								      					<th class="text-left">Amount</th>
								      					<th class="text-center">Discription</th>
								      					<th class="text-center">Payment Method</th>
														<th class="text-right">Date</th>
								      				</tr>
								      			</thead>
								      			<tbody>
								      				<tr>
								      					<td class="text-left f-s-12">2,000,000</td>
								      					<td class="text-center f-s-12">Mobilization For Projects</td>
								      					<td class="text-center f-s-12">Bank Transfer</td>
								      					<td class="text-right f-s-12">2nd oct 2017</td>
								      				</tr>
								      				<tr>
								      					<td class="text-left f-s-12">300,0000,00</td>
								      					<td class="text-center f-s-12">Mobilization For Projects</td>
								      					<td class="text-center f-s-12">Bank Transfer</td>
								      					<td class="text-right f-s-12">1st oct 2017</td>
								      				</tr>
								      				<tr>
								      					<td class="text-left f-s-12">400,000,00</td>
								      					<td class="text-center f-s-12">Mobilization For Projects</td>
								      					<td class="text-center f-s-12">Bank Transfer</td>
								      					<td class="text-right f-s-12">20th oct 2017</td>
								      				</tr>
								      				<tr>
								      					<td class="text-left f-s-12">50,0000,0</td>
								      					<td class="text-center f-s-12">Mobilization For Projects</td>
								      					<td class="text-center f-s-12">Bank Transfer</td>
								      					<td class="text-right f-s-12">12th oct 2017</td>
								      				</tr>
								      			</tbody>
								      		</table>
							      	</div>
					      		</div>
					      	</div>
					      	<div class="col-md-1"></div>
					    </div>
				  	</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>

  <!-- section ends here -->


  <!-- footer starts here -->
  <footer>
    



  </footer>
  <!-- end footer -->

  <!-- starting of scripts -->
  <script type="" src="assets/js/jqey.js"></script>
  <script type="" src="assets/js/boots.js"></script>
  <script type="" src="assets/js/main.js"></script>
  <script>
  	app.imageHandler();
  	app.openpackages();

  </script>
</div>